{% extends 'partials/base.html.twig' %}

{% block content %}
 {{ dump(page.header) }} 
    {{ page.content }}
    <div id="content">
      {% for module in page.collection() %}
         {{ module.content }}
      {% endfor %}
    </div>
{% endblock %}
