<section id="call-to-action">
    <div class="row">
      <div class="large-2 columns header-col">
        <div class="callout-logo">
          {{page.find(page.header.logo.folder).media[page.header.logo.file].resize(200, 200).html(page.header.title) }}
        </div>
        </div>
        <div class="large-7 columns">
            {{ content }}
        </div>
        <div class="large-3 columns action">
            {% for button in page.header.buttons %}
                <a href="{{ button.url }}" class="button">{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
</section>
