<footer class="woo-footer">
    <div class="row">         
        <div class="large-5 columns">
            <div class="woo-footer-logo">
                <a href="{{ base_url_absolute }}">
                    <img src="{{ theme_url }}/img/logo bn_150.png" alt="" />
                </a>
            </div>
            <p class="woo-footer-logo-text">
Granja Mandrágora es un proyecto regido por los principios de la permacultura que aspira a demostrar que otro modo de vida es posible.
            </p>
        </div>
        <div class="large-7 columns">
            <div class="">
                <div class="alignleft">
                    <h3 class="address">VISÍTANOS</h3>
                    <p>
                      Loma de la teulería<br>
                      El Xortá<br>
                      Benimantell<br>
                    </p>
                </div>
                <div class="alignleft">
                    <h3 class="social">SOCIALIZA</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/granjamandragora/">Facebook</a></li>
                        <li><a href="https://vimeo.com/channels/1407147">Vimeo</a></li>
                        <li><a href="https://www.pinterest.es/mandragorafarm/">Pinterest</a></li>
                    </ul>
                </div>
                <div class="alignleft">
                    <h3 class="contact">CONTÁCTANOS</h3>
                    <ul><a href="mailto:contacto@granjamandragora.es">contacto@granjamandragora.es</a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>
